# Mesh files
*.obj
*.ply
*.stl
*.dae
*.blend

# BLenderProc & BOP toolkit
blenderproc_resources
BlenderProc/
bop_toolkit/
cc_textures/
output/
venv/

# BOP datasets
hb/
itodd/
lm/
lmo/
tless/
tyol/
ycbv
